.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* margin-left: 40px; */

    .card-image{
        width: 50%;
        height: auto;
        object-fit: contain;
    }
         p{
            font-size: 1.2rem;
            font-weight: semi-bold;
            margin-top: 0.7rem;
                span{
                    font-weight: bold;
                }
         }
}