.container{
    background-image: url('/src/assets/images/background-mobile.png');
    background-size: cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: (100vh - 96px);
    padding: clamp(0px, 5vw, 32px);
    margin-top: -100px;

        h1{
            font-size: 2.2rem;
            text-transform: uppercase;
        }
}
.image-home{
    width: clamp(230px, 50%, 400px);
    /* width: 80%;
    height: auto; */
}
span{
    color: var(--color-primary-2);
}
.home-actions{
    display: flex;
    gap: 14px;
}
.btn-outilined{
    background-color: transparent;
    border: 2px solid var(--color-primary-2);
    color: var(--color-primary-2);
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

        &:hover{
            background-color: var(--color-neutral-5);
             border: 2px solid var(--color-neutral-9);
            color: #fff;
        }
}